/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

header h1 {
    color: white;
    margin: 0;
}

/* New Styles for Navigation */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.site-navigation li {
    margin-left: 1.5rem;
}

.site-navigation a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.site-navigation a:hover {
    text-decoration: underline;
}

/* Container */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.content {
    flex: 1;
}

/* Typography */
h1 {
    font-size: 2.5em;
    color: #333;
}

h2 {
    font-size: 2em;
    color: #333;
}

p {
    line-height: 1.6;
}

/* Buttons */
.boutons {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: #007BFF;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.images img {
    width: 350px; /* Fixed width */
    height: 300px; /* Fixed height */
    object-fit: cover; /* Ensures the image covers the entire area */
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contenu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contenu div {
    flex: 1;
    margin: 10px;
}

/* Links */
a {
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    text-decoration: underline;
    color: #0056b3;
}

/* Footer */
footer p {
    margin: 0;
}

/* Horizontal Rule */
hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #ccc;
}

/* Contact Form */
.contact {
    margin-top: 20px;
}

.contact form {
    display: flex;
    flex-direction: column;
}

.contact label {
    margin-top: 10px;
}

.contact input, .contact textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.contact input:focus, .contact textarea:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.contact input:active, .contact textarea:active {
    border-color: #0056b3;
}

.contact button {
    margin-top: 10px;
    align-self: flex-start;
}
